// COLORS
$color-primary: #2aeda5d2;
$color-primary-light: #01c7ada8;

$color-grey-dark: #777;
$color-white: #fff;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;