.card {

    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 .3rem 3rem rgba($color-black, .45);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary, $color-primary-light)
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-premium-light, $color-premium-dark)
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-corporate-light, $color-corporate-dark)
            }
        }

    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: unset;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        

        &--1 {
            background-image:linear-gradient(to right bottom, $color-primary, $color-primary-light), url(../img/clement-5.jpg);
            background-blend-mode: hard-light !important;
        }

        &--2 {
            background-image:linear-gradient(to right bottom, $color-premium-light, $color-premium-dark), url(../img/clement-5.jpg);
            background-blend-mode: hard-light;
        }

        &--3 {
            background-image:linear-gradient(to right bottom, $color-corporate-light, $color-corporate-dark), url(../img/clement-5.jpg);
            background-blend-mode: hard-light !important;
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    $color-test2:#2aeda5d4;
    $color-test:#35f29a;

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        
        &--1 {
            background-image: linear-gradient(to right bottom,
             $color-primary, $color-primary-light);
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
            $color-premium-light, $color-premium-dark);
        }

        &--3 {
            background-image: linear-gradient(to right bottom,
            $color-corporate-light, $color-corporate-dark);
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;


            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid lightgray;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align:center;
    }

    &__price-box {
        text-align:center;
        color: white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }
}